@tailwind base;
@tailwind components;
@tailwind utilities;

/* layouts */
.layout-screen {
  @apply min-h-screen pt-[120px] container mx-auto px-3 pb-20;
}

.about-para {
  @apply 2xl:text-lg xl:text-base leading-[1.45] font-serif font-normal;
}

.about-para:not(:last-of-type) {
  @apply mb-5;
}

.global-spacing {
  @apply pt-[60px];
}

/* content section */

.content-section {
  @apply 3xl:max-w-[1308px] xl:w-[89%] mx-auto;
}

.content-page-heading {
  @apply font-primary pt-1 3xl:text-9xl font-medium 3xl:mb-20 2xl:text-[120px] xl:text-[88px] xl:leading-none mx-auto 2xl:mb-16 xl:mb-14 2xl:leading-none;
}

/*  */
.project-list:not(:last-of-type) {
  @apply border-b-2 border-borders-light;
}

/*  */
.blog-list:nth-of-type(3n + 1) {
  @apply flex justify-start;
}

.blog-list:nth-of-type(3n) {
  @apply flex justify-end;
}

.blog-list:nth-of-type(3n-1) {
  @apply flex justify-center;
}

/*  */
.connect-btn-shadow:hover {
  /* background-color: white; */
  box-shadow: 0 0 90px 10px rgba(255, 255, 255, 0.3);
  @apply transition-all duration-200 ease-in text-black bg-white border-white;
}

/* 
* blogpeek component *
*/

.blogpeek-container:hover .blogpeek-banner {
  @apply scale-110 transform transition-transform duration-500;
}

/*  */
.god-creating-adam {
  background-image: url("/god-creating-adam.png");
  @apply bg-cover bg-no-repeat bg-center opacity-[0.12];
  animation: rotateAndEnter 1s ease-in;
}

@keyframes rotateAndEnter {
  0% {
    transform: rotate(5deg);
    scale: 1.1;
    opacity: 0.05;
  }
  100% {
    transform: rotate(0deg);
    scale: 1;
    opacity: 0.12;
  }
}
