@tailwind base;
@tailwind components;
@tailwind utilities;

/* layouts */
.layout-screen {
  @apply min-h-screen pt-[120px] container mx-auto px-3 pb-20;
}

.about-para {
  @apply 2xl:text-lg xl:text-base md:text-lg md:leading-[1.45] text-base font-serif font-normal;
}

.about-para:not(:last-of-type) {
  @apply mb-8;
}

.global-spacing {
  @apply pt-[60px];
}

/* content section */
.content-page-position {
  @apply 3xl:mt-10 xl:mt-8 md:mt-10 mt-8;
}

.content-section {
  @apply 3xl:max-w-[1308px] xl:w-[89%] mx-auto;
}

/*  */
.project-list:not(:last-of-type) {
  @apply xl:border-b-2 border-borders-light;
}

/*  */
.blog-list {
  @apply flex justify-center;
}

@media only screen and (min-width: 768px) {
  .blog-list:nth-of-type(2n) {
    @apply flex justify-end;
  }

  .blog-list:nth-of-type(2n-1) {
    @apply flex justify-start;
  }
}

@media only screen and (min-width: 1280px) {
  .blog-list:nth-of-type(3n + 1) {
    @apply flex justify-start;
  }

  .blog-list:nth-of-type(3n) {
    @apply flex justify-end;
  }

  .blog-list:nth-of-type(3n-1) {
    @apply flex justify-center;
  }
}

/*  */
.connect-btn-shadow:hover,
.connect-btn-shadow:active {
  /* background-color: white; */
  box-shadow: 0 0 90px 10px rgba(255, 255, 255, 0.3);
  @apply transition-all duration-200 ease-in text-black bg-white border-white;
}

/* 
* blogpeek component *
*/

.blogpeek-container:hover .blogpeek-banner {
  @apply scale-110 transform transition-transform duration-500;
}

/*  */
.god-creating-adam {
  background-image: url("/god-creating-adam.png");
  @apply bg-cover bg-no-repeat bg-center opacity-[0.08];
  animation: rotateAndEnter 1s ease-in;
}

@keyframes rotateAndEnter {
  0% {
    transform: rotate(5deg);
    scale: 1.1;
    opacity: 0.05;
  }
  100% {
    transform: rotate(0deg);
    scale: 1;
    opacity: 0.08;
  }
}

.animate-btm-carousel-on-initial-load {
  animation: slideLeft 1.5s ease-in-out 4s;
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(0);
  }
}
