@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-white text-black;
}

/* layouts */
.layout-screen {
  @apply min-h-screen pt-[120px] container mx-auto px-3 pb-10;
}

.about-para {
  @apply text-lg leading-[1.45];
}

.about-para:not(:last-of-type) {
  @apply mb-5
}